body{
    width: 550px;
    margin:0;
    padding:0 10px;

    font-family: "Arial", sans-serif;
    font-size: 26px;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
    border: 2px solid #0088cc;
    border-top:2px dashed #0088cc;
    border-bottom:2px dotted #0088cc;
    color:#0088cc;
}