body {
    padding: 0 30px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial", sans-serif;
    color: #222222;

    background: #ffffff url("../img/bg-page.png") no-repeat top center;
}

h1 {
    font-size: 24px;
    line-height: normal;
}

.italic{
    font-style: italic;
}

em,i{
    font-style:normal;
}

.page-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    font-family: "Verdana", sans-serif;
    text-align: center;
}


.partnership{
    background-color:#4a87fa;
    background-image:url("../img/bg-partnership.svg");
    color:#ffffff;
    padding: 30px;
    margin:30px 0;
    text-align: center;
}


.blog-navigation {
    margin-bottom: 30px;
    padding: 20px;

    color: #ffffff;

    background-color: #4470c4;
    border: 5px solid #2d508f;
}


.blog-navigation a {
    color: #ffffff;
}

del{
    text-decoration: none;
    color:orangered;
}

ins{
    text-decoration: none;
    color:green;
}

.underline{
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through;
}
.overline{
    text-decoration: overline;
}

footer {
    margin-top: 30px;
}
