table caption {
    font-family: "Arial Black";
    font-size: 13px;
}

.row1 {
    text-align: left;
}
.row2 {
    padding-left: 50px;
}

.row3 {
    padding-left: 200px;
}

.cell2 {
    padding-right: 65px;
}



td .row2v2, .row3v2 {
    padding-left: 40px;
}

.row1v2 {
    text-align: left;
}

.col {
    padding-left: 40px;
}