body {
    width: 350px;
    margin: 0;
    padding: 0 10px;

    font-size: 14px;
    font-family: Arial, sans-serif;
}

table {
    border: 1px black solid;
}

 td {
     border: 1px lightgray solid;
     padding: 5px;

 }

 
 caption {
     caption-side: bottom;
     text-align: right;
 }