body {
    width: 350px;
    margin: 0;
    padding: 0 10px;

    font-size: 14px;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px black solid;
   /* width: 300px;
    height: 250px;*/
}

th {
    border: 1px black solid;
    padding: 5px;
    /*width: 70%;*/
    /*height: 15%;*/

}

 td {
     border: 1px lightgray solid;
     padding: 5px;
 }

 .cell1 {
     text-align: center;
     background-image: url(../source/USA.jpg);
     background-size: 69%;
 }



 .rowred {
     background: #B22234;
 }
