body {
    width: 350px;
    margin: 0;
    padding: 0 10px;

    font-size: 14px;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background: darkcyan;
    color: white;
    border-top: #09081d solid;
    border-bottom: #09081d solid;
    padding: 10px;
    width: 33%;
}

 td {
     width: 33%;
     border-bottom: 1px lightgray solid;
     border-top: 1px lightgray solid;
     padding: 10px;

 }

 .beigeCol {
     background: lightyellow;
 }

.specialCell{
    background: lightblue;
    text-align: center;
}

 .left{
     text-align: left;
 }

 .center {
     text-align: center;
 }

 .right {
     text-align: right;
 }
 
 caption {
     caption-side: bottom;
     text-align: right;
 }