body {
    width: 400px;
    margin: 0;
    padding: 0 40px;

    font-family: "Times New Roman", serif;
    font-size: 16px;
}

h1 {
    font-size: 30px;
    line-height: normal;
}

nav {
    color: #888888;
}

aside {
    margin: 20px 0;

    color: #c4c4c4;
}

time {
    color: #6a2cce;
}
