body {
    padding: 0 30px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial", sans-serif;
    color: #222222;

    background: #ffffff url("../img/bg-page.png") no-repeat top center;
}

h1 {
    font-size: 24px;
    line-height: normal;
}

h2 {
    font-size: 20px;
    line-height: normal;
}


.page-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.container {
    text-align: center;
}

.avatar {
    border-radius: 50%;
}



.blog-navigation {
    margin-bottom: 30px;
    padding: 20px;

    color: #ffffff;

    background-color: #4470c4;
    border: 5px solid #2d508f;
}

.blog-navigation h2 {
    margin-top: 0;
}

.blog-navigation ul {
    padding-left: 0;
    list-style: none;
}

.blog-navigation li {
    margin-bottom: 5px;
}

.blog-navigation a {
    color: #ffffff;
}

footer {
    margin-top: 30px;
}
