body {
  width: 500px;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

li {
  padding: 5px;
  margin: 10px;
}

.large-font{
  font-size: 20px;
}

.white-colored{
  color: white;
}

.dark-background{
  background-color: #4470c4;
}

.uppercase{
  text-transform: uppercase;
}

.bordered{
  border: 2px solid #000000;
}

.border-rounded{
  border-radius: 10px;
}
