body {
    width: 350px;
    margin: 0;
    padding: 0 10px;

    font-size: 14px;
    font-family: Arial, sans-serif;
}



td {
    border: 1px solid lightgray;
    padding: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}