body {
    padding: 0 30px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial", sans-serif;
    color: #222222;

    background: #ffffff url("../img/bg-page.png") no-repeat top center;
}

h1 {
    font-size: 24px;
    line-height: normal;
}


.page-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    font-family: "Verdana", sans-serif;
    text-align: center;
}


.blog-navigation {
    margin-bottom: 30px;
    padding: 20px;

    color: #ffffff;

    background-color: #4470c4;
    border: 5px solid #2d508f;
}



.blog-navigation a {
    color: #ffffff;
}

.partnership {
    color: #ffffff;
    background-color: #4a87fa;
    background-image: url("../img/bg-partnership.svg");
}

del{
    color:#ff4400;
}

ins{
    color: rgb(105,178,83);
}

.blog-navigation{
    background-color: rgba(68,112,196,0.7);
}

footer {
    margin-top: 30px;
}
